/* .css-hyum1k-MuiToolbar-root {
    min-height: 48px !important;
} */

input:focus {
    outline: none;
}

.css-1bjk3jo-MuiButtonBase-root-MuiBottomNavigationAction-root.Mui-selected {
    color: #f24236 !important;
}



@media only screen and (max-width: 600px) {
    .css-118p9r0-MuiButtonBase-root-MuiBottomNavigationAction-root{
        padding: 0 !important;
        min-width: 10px !important;
    }
  }