/* .css-hyum1k-MuiToolbar-root {
    min-height: 48px !important;
} */

input:focus {
    outline: none;
}

.css-1bjk3jo-MuiButtonBase-root-MuiBottomNavigationAction-root.Mui-selected {
    color: #f24236 !important;
}



